.headerMobile {
	display: flex;
	justify-content: flex-end;
	gap: clamp(15px, 1px + 4.35vw, 25px);
	&__burger {
		width: clamp(35px, 17px + 5.65vw, 48px);
		height: clamp(35px, 17px + 5.65vw, 48px);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: #7733ff;
	}
	@media (min-width: 551px) {
		&__burger,
		&__formControl {
			display: none !important;
		}
	}
}
.list {
	min-width: min(222px, 60vw);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: clamp(16px, 13.3px + 0.82vw, 22px);
		a {
			border-radius: 10px;
			background-color: #7733ff;
			// background: transparent;
			// padding: 0;
			// box-shadow: none;
		}
	}
}
