@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-Black/TildaSans-Black.eot');
	src:
		url('../../public/fonts/TildaSans-Black/TildaSans-Black.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-Black/TildaSans-Black.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-Black/TildaSans-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-ExtraBold/TildaSans-ExtraBold.eot');
	src:
		url('../../public/fonts/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-ExtraBold/TildaSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-Bold/TildaSans-Bold.eot');
	src:
		url('../../public/fonts/TildaSans-Bold/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../public/fonts/TildaSans-Bold/TildaSans-Bold.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-Bold/TildaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-SemiBold/TildaSans-Semibold.eot');
	src:
		url('../../public/fonts/TildaSans-SemiBold/TildaSans-Semibold.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-SemiBold/TildaSans-Semibold.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-SemiBold/TildaSans-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-Medium/TildaSans-Medium.eot');
	src:
		url('../../public/fonts/TildaSans-Medium/TildaSans-Medium.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-Medium/TildaSans-Medium.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-Medium/TildaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-Regular/TildaSans-Regular.eot');
	src:
		url('../../public/fonts/TildaSans-Regular/TildaSans-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-Regular/TildaSans-Regular.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-Regular/TildaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TildaSans';
	src: url('../../public/fonts/TildaSans-Light/TildaSans-Light.eot');
	src:
		url('../../public/fonts/TildaSans-Light/TildaSans-Light.eot?#iefix')
			format('embedded-opentype'),
		url('../../public/fonts/TildaSans-Light/TildaSans-Light.woff2') format('woff2'),
		url('../../public/fonts/TildaSans-Light/TildaSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'TildaSans', Arial, sans-serif;
}
input,
textarea {
	outline: none;
	border: none;
}
button {
	border: none;
	cursor: pointer;
}
button,
a {
	user-select: none;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #232732;
	box-shadow:
		inset 10px 10px 20px 0px rgba(0, 0, 0, 0.25),
		inset -10px -10px 20px 0px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
}
.wrapper {
	max-width: 1054px;
	margin: 0 auto;
	padding: 0 15px;
}
