.header {
	width: 100%;
	padding-top: 95px;
}
.nav {
	width: 100%;
	display: flex;
	gap: clamp(0.938rem, -0.588rem + 7.63vw, 4.438rem);
	&__item {
		list-style: none;
		width: 20%;
		font-size: clamp(16px, 13.3px + 0.82vw, 1.375rem);
	}
	&__burger {
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-left: auto;
		background-color: #7733ff;
	}
	@media (max-width: 550px) {
		&__item {
			display: none;
		}
	}
	@media (min-width: 550px) {
		&__burger {
			display: none;
		}
	}
}
