.contactMe {
	padding-bottom: clamp(88px, 53.5px + 10.76vw, 167px);
	&__content {
		padding-top: clamp(44px, 14.7px + 9.13vw, 111px);
		display: flex;
		justify-content: space-between;
		gap: clamp(25px, -1.6px + 4.33vw, 44px);
	}
	&__image {
		width: clamp(318px, 274.5px + 7.06vw, 349px);
		height: clamp(330px, 293.5px + 5.92vw, 356px);
		min-width: 255px;
		border-radius: 29px;
		box-shadow:
			25px 25px 60px 0px rgba(0, 0, 0, 0.25),
			-25px -25px 60px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(-40.06deg, rgb(35, 39, 50) 14.728%, rgb(35, 39, 50) 95.822%);
		display: flex;
		justify-content: center;
		img {
			width: 231px;
			height: 100%;
			display: block;
		}
	}
	@media (max-width: 615px) {
		&__content {
			flex-direction: column;
		}
		&__image {
			margin: 0 auto;
			min-width: 0;
			width: clamp(11.25rem, 5.487rem + 28.81vw, 16.563rem);
			height: clamp(11.25rem, 5.487rem + 28.81vw, 16.563rem);
			img {
				width: clamp(11.25rem, 7.792rem + 17.29vw, 14.438rem);
			}
		}
	}
}
