.imageCard {
	width: 349.17px;
	height: 356px;
	border-radius: 29px;
	box-shadow:
		25px 25px 60px 0px rgba(0, 0, 0, 0.25),
		-25px -25px 60px 0px rgba(255, 255, 255, 0.25);
	background: linear-gradient(-40.06deg, rgb(35, 39, 50) 14.728%, rgb(35, 39, 50) 95.822%);
	img {
		width: 100%;
		height: 100%;
	}
}
